*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	background-color: greenyellow;

}
.big{
	background-color: rgb(2, 25, 29);
    height: 100vh;
}
.small{

	align-items: center;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;


}
img{
	width: 250px;
	height: 200px;
	margin-top: 20px;
	height: 400px;
	width: 400px;
	-webkit-clip-path:circle(50% at 50% 50%);
	clip-path:circle(45% at 50% 50%);
}
.sml{
	background-color: whitesmoke;
	border-radius: 5px;
	border: 2px groove greenyellow;
	opacity: 0.6;
	width: 700px;
	color: black;
	height: 200px;
	font-size: 20px;
	align-items: center;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
}
.pp{
	margin: auto;
	padding: 15px;
}
button{
	width: 150px;
	height: 40px;
	background-color: greenyellow;
	border-radius: 5px;
	border: 2px solid cyan;
}
@media all and (max-width: 700px){
	.sml{
		width: 90%;
		height: 250px;
	}
	.pp{
		font-size: 16px;
		margin-top: 10px;
	}
	h3{
		width: 80%;
		font-size: 12px;
		margin: 4px;
        color: rgb(212, 210, 208);
	}
	img{
	width: 200px;
	height: 200px;
	
}
}